<div class="row mt-5">
    <div class="tm-3-col-container d-flex justify-content-center">
        <div class="col-12 col-sm-3">
            <div class="textbox__container text-left">
                <h2 class="tm-text-title">Nagłówek 1</h2>
                <p class="tm-text">Tekst Tekst TekstTek stTeks tTekstTekstT ekstTe kstTekst TekstTekst TekstTeks tTekstTeks tTekstTekstTekst Tekst</p>
            </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="textbox__container text-left">
                <h2 class="tm-text-title">Nagłówek 2</h2>
                <p class="tm-text">Tek stTeks tTekst TekstTeks tTekstT ekstTekstTe kstTekstTekst TekstTekstTeks tTekstTekst TekstTekstTekst Tekst</p>
            </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="textbox__container text-left">
                <h2 class="tm-text-title">Nagłówek 3</h2>
                <p class="tm-text">TekstTe kstTek stTekstTeks tTekstTeks tTekstTekstTe kstTekstTekstT ekstTeks tTekstTekstTek stTekstTekst Tekst</p>
            </div>
            <img src="{{ asset('/upload/Dolphin.png') }}">
        </div>
    </div>
</div>