<div class="row">
    <div class="col-8 offset-2 mb-4 p-0" style="">
        <a style="width: 140px;height: 37px;" class="p__button" href="{{ path('news_new') }}">Utwórz artykuł</a>
    </div>
    {% for article in articles %}
        <div class="col-8 offset-2 news__container mb-5">
            <div>
                <h2>
                    {{ article.title }}
                </h2>
            </div>
            <div>
                <div>
                    {{ article.body|raw }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
