framework:
  cache:
    app: cache.adapter.redis
    default_redis_provider: "redis://%env(REDIS_HOST)%:%env(REDIS_PORT)%"

    pools:
      doctrine.result_cache_pool:
        adapter: cache.adapter.redis

      doctrine.system_cache_pool:
        adapter: cache.adapter.redis