@font-face {
   font-family: 'summernote';
  src: url("../fonts/summernote.eot");
  src: url("../fonts/summernote.ttf");
  url("../fonts/summernote.woff") format('woff');
  url("../fonts/summernote.woff2") format('woff2');
}